@import "tailwindcss";
@font-face {
    font-family: 'Inter';
    src: url('./assets/font/Inter-VariableFont_opsz,wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}
@font-face {
    font-family: 'times-new-roman';
    src: url('./assets/font/times.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

@theme {
    --font-inter: "Inter", sans-serif;
    --font-roman: "times-new-roman", sans-serif;
}