@import "tailwindcss";
@font-face {
    font-family: 'Inter';
    src: url('./assets/font/inter/Inter-VariableFont_opsz\,wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}
@font-face {
    font-family: 'times-new-roman';
    src: url('./assets/font//times\ new\ roman/times') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}
@font-face {
    font-family: 'gentium-basic';
    src: url('./assets/font/Gentium\ basic/GenBasB') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

@theme {
    --font-inter: "Inter", sans-serif;
    --font-roman: "times-new-roman", sans-serif;
    --font-gentium: "gentium-basic", sans-serif;
    --shadow-custom: 2.5px 2.5px 5.6px rgba(0, 0, 0, 0.25)
}